body {
    background-color: rgb(231, 180, 255);
    margin: 0px;
    font-family: arial;
  }
  
  .logo {
    height: 60px;
  }
  
  nav {
    height: 60px;
    width: 100% vw;
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 30px;
  }
  
  #nav-bar li {
    display: inline flex;
    list-style: none;
    padding: 10px;
    color: #ff9111;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
  }

  li a{
    color: orange;
    text-decoration: none;
  }
  
  #projects{
    display: flex;
    width: 100%;

  }
.projbox{
  display: flex;
  flex-direction: column;
  width: 33.33%;
  height: 33.33%;
  margin-left: 3px;
}

.projbox h2{
align-self: center;
}
  .projimage{
width: 100%;
  }

  footer {
    display: flex;
    position: fixed;
    text-align: center;
    bottom: 0;
    margin-top: 20px;
    margin-left: 50%;
  }
  footer li {
    display: inline-block;
    list-style: none;
    margin-left: 20px;
  }
  
  footer li a{
    color: white;
  }