
body {
  background-color: #F3055A;
  margin: 0px;
  font-family: 'Inter';
}

.logo {
  height: 60px;
}

nav {
  height: 60px;
  width: 100% vw;
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 30px;
}

#nav-bar li {
  display: inline flex;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
}
li a{
  color: #F3055A;
  text-decoration: none;
}

#welcomemodal{
  background-color: lightblue;
  display: flex; 
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
  justify-content: center;
}

#modalcontent{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#welcomemodal img{
  height: 40%;
  align-self: center;
}

button{
  width:150px;
  height: 30px;
  background-color: gold;
  border-radius: 20px;
  border: white;
  color: rgb(33, 165, 106);
  margin-top: 50px;
  align-self: center;
}
main{
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 250px;
  margin-bottom: 200px;
  padding-bottom: 100px;
  
}

#largelogo{
height: 300px;
flex-shrink: 0;
margin-bottom: 30px;

}
.line2{
  font-size: 80px;
}
p{
  text-align: right;
}
hr {
  border: 1px solid #ccc;
  margin: px 0;
}
footer {
  display: flex;

  text-align: center;
  bottom: 0;
  margin-top: 20px;
  margin-left: 50%;
}
footer li {
  display: inline-block;
  list-style: none;
  margin-left: 20px;
}

footer li a{
  color: white;
}