body {
    background-color: rgb(231, 180, 255);
    margin: 0px;
  }
  
  .logo {
    height: 60px;
  }
  
  nav {
    border: 2px orange solid;
    height: 60px;
    width: 100% vw;
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 30px;
  }
  
  #nav-bar li {
    display: inline flex;
    list-style: none;
    padding: 10px;
    color: #ff9111;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
  }

  li a{
    color: orange;
    text-decoration: none;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container>img {
    width: 50%;
}

.container>h1 {
    font-family: 'Montserrat', impact;
    font-weight: 800;
    font-size: 2.5em;
    margin-top: -1%;
    color: #4caaa8;
    text-shadow: 1px 1px #f2cd99;
    letter-spacing: 2px;
}


/* ======= CAROUSEL SECTION ======== */
.carousel-container {
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.carousel-images {
    width: 80%;
    background: #fa8d8e;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 2px 2px #f2cd99;
}

.carousel-images img {
    width: 100%;
    border-radius: 10px;
    display: none;
}

.carousel-images img:first-of-type {
    display: block;
}

.carousel-button {
    align-self: center;
    background: #f2cd99;
    color: #888;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    box-shadow: 1px 1px #fa8d8e;
}

.carousel-button:hover {
    cursor: pointer;
    background: #fa8d8e;
    box-shadow: 1px 1px #f2cd99;
    color: white;
}




  hr {
    border: 1px solid #ccc;
    margin: 20px 0;
  }
  footer {
  
    display: flex;
    justify-content: center;
    margin-top: 20px;
  
  }
  footer li {
    display: inline-block;
    list-style: none;
    border: 2px orange solid;
    margin-left: 20px;
  
    
  }