body {
  background-color: #a4deff;
  margin: 0px;
}

.logo {
  height: 60px;
}

nav {
  border: 2px orange solid;
  height: 60px;
  width: 100% vw;
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 30px;
}

#nav-bar li {
  display: inline flex;
  list-style: none;
  padding: 10px;
  color: #ff9111;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

li a{
  color: orange;
  text-decoration: none;
}

#profile {
  width: 360.75px;
}

#imagecontainer {
  width: 360.75px;
  height: 613px;
  border-radius: 174px;
  background-color: #ff9111;
  /* margin: 207px 798px 0 162px */
}

#about {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#abouttext {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 600px;
  margin-top: 150px;
  margin-right: 100px;
}
#name {
  margin: 0px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 64px;
  font-weight: 900;
  line-height: normal;
  text-align: center;
}
#bio {
  white-space: pre-wrap;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  text-align: left;
  color: rgb(255, 102, 0);
}

hr {
  border: 1px solid #ccc;
  margin: 20px 0;
}
footer {
  display: flex;
  justify-content: center;
  

}
footer li {
  display: inline-block;
  list-style: none;
  border: 2px orange solid;
  margin-left: 20px;

  
}
