
body {
  background-color: #5928e5;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;

}

.logo {
  height: 60px;
}

nav {
  border: 2px orange solid;
  height: 60px;
  width: 100% vw;
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 30px;
}

#nav-bar li {
  display: inline flex;
  list-style: none;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
}
nav li a {
  color: #e39597;
  text-decoration: none;
}

#header {
  display: flex;
}

#intro {
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
}
#intro h1{
  margin-bottom: 0px;
  font-size: 40px;
  font-family: "inter";
  
}

#intro h2{
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "arial";
}

#contact{
  color: white;
  margin-top: 0px;
  margin-bottom: 30px;

}
#contact ul {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-top: 0px;
 
}

#contact li{
  margin-right: 30px;
  font-weight: bold;
  font-size: 12px;
  
}

#contact li a{
  color: white;
}



.title h2 {
  text-align: center;
  color: white;
}
.title{
  background-color: #cd0975;
height: 50px;
}

hr {
  border: 1px solid #ccc;
  margin: 20px 0;
}
footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
footer li {
  display: inline-block;
  list-style: none;
  border: 2px orange solid;
  margin-left: 20px;
}

/* #addinfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#skills {
}

#languages {
} */